/*
Palette: https://coolors.co/cdc1cd-4c4272-fffef9-f6ebc2-201c37-f4eef0
*/

body {
  margin: 0;
  text-align: center;
  font-family: 'Signika Negative', sans-serif;
}


h1, h2, h3, h4, p{
  margin: 0;
  padding: 0;
}

.container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.hero-section{
  background-image: url('images/delhi-main2.jpg');
  background-size: cover;
  background-position:center;
  width: 100%;
  font-weight: 700;
  padding-top: 80px;
  padding-bottom: 200px;
  text-align: right;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
}

#hero-heading{
  font-size: 2rem;
  background-color: #4C4272;
  color: #F1FAEE;
  padding: 0.2em 0.5em;
  border-radius: 0.2em;
  width: 150px;
}

#hero-paragraph{
  margin-top: 16px;
  font-size: 1.5rem;
  background-color: #201C37;
  color: #F1FAEE;
  padding: 0.2em 0.5em;
  border-radius: 0.2em;
  width: 70%;
  max-width: 450px;
}

.activity-section{
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;

  padding: 58px 0;
  background-color: #FAF1E4;
}

.activity-model{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.ac-img{
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.activity-model h4{
  margin: 20px;
  color: #4C4272;
  font-weight: 700;
}

.activity-model p{
  width: 100%;
  color: #201C37;
}

.guide-section{
  box-sizing: border-box;
}

.guide-card{
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;

  margin: 3em auto;
  border-radius: 10px;
  background-color: #9B94B6;
  padding: 23px 0; 
  width: 50%;
}

.guide-details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.guide-details h3, h4{
  color: #4C4272;
  font-weight: 700;
}

.guide-details p{
  font-style: italic;
  color: #2C293D;
}

.guide-section img{
  width: 40%;
  border-radius: 10px;
  box-shadow: 1px 0px 3px #2C293D;
}

@media (max-width:600px) {
  .hero-section{
    align-items: center;
    text-align: center;
  }

  .activity-section{
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .activity-model{
    width: 80%;
    margin-bottom: 2em;
  }

  .activity-model p {
    width: 100%;
  }

  .guide-card {
    flex-direction: column-reverse;
    align-items: center;
    width: 80%;
  }

  .guide-section img {
    width: 80%;
    border-radius: 10px;
    box-shadow: 1px 0px 3px #2C293D;
    margin-bottom: 1.5em;
  }

  .guide-details{
    width: 80%;
  }
}